Repository calmato/presto-pay, pull requests merged in 2020-10, with the labels that each got.

#184 feature: ログイン周りの処理実装
  native/react/.env.temp
  native/react/package.json
  native/react/src/@types/.keep
  native/react/src/components/organisms/Profile/index.tsx
  native/react/src/components/pages/SignIn/index.tsx
  native/react/src/components/pages/UserInfo/index.tsx
  native/react/src/containers/Loading.tsx
  native/react/src/containers/SignIn.tsx
  native/react/src/containers/UserInfo.tsx
  native/react/src/lib/axios/config.ts
  native/react/src/lib/axios/index.ts
  native/react/src/lib/local-storage/auth-information.ts
  native/react/src/modules/index.ts
  native/react/src/selectors/.keep
  native/react/src/selectors/auth.ts
  native/react/src/selectors/index.ts
  native/react/src/types/response/auth.ts
  native/react/src/types/response/index.ts
  native/react/src/usecases/auth.ts
  native/react/yarn.lock
Labels: feature, native: react, refactor

#185 docs: React Native関連のドキュメント追加
  docs/11_frontend/01_native/13_react_native/README.md
  docs/11_frontend/01_native/13_react_native/command.md
  docs/11_frontend/01_native/13_react_native/directories.md
  docs/11_frontend/01_native/13_react_native/libraries.md
Labels: documentation, native: react

#187 feat: バッチ処理用のDockerfile作成
  docker-compose.api.yaml
  docker-compose.yaml
  infra/docker/api/batch/Dockerfile
  infra/docker/redis/Dockerfile
Labels: feature, infrastructure

#188 feature: 為替レート取得バッチの実装
  api/batch/go.mod
  api/batch/go.sum
  api/batch/main.go
  docker-compose.api.yaml
  docker-compose.yaml
Labels: feature

#189 fix: レスポンスステータス
  api/calc/internal/interface/handler/v1/group.go
  api/calc/internal/interface/handler/v1/payment.go
Labels: api: Calc, bugfix

#190 feature: バッチ処理用のコンテナ作成
  .github/workflows/cd-batch-api.yaml
  .github/workflows/ci-batch-api.yaml
  api/batch/Makefile
  docker-compose.api.yaml
  docker-compose.yaml
  infra/docker/api/batch/Dockerfile
  infra/docker/api/batch/Dockerfile_development
  infra/kubernetes/.gitignore
  infra/kubernetes/Makefile
  infra/kubernetes/stg/default/cronjob-batch.yaml.temp
  infra/kubernetes/stg/default/deployment-redis.yaml
  infra/kubernetes/stg/default/service.yaml
Labels: feature, infrastructure

#191 style: バッチ処理のコード修正
  api/batch/main.go
Labels: refactor

#192 feature: 為替レート取得機能の実装
  api/calc/config/environment.go
  api/calc/go.mod
  api/calc/go.sum
  api/calc/internal/domain/exchange/entity.go
  api/calc/internal/domain/exchange/repository.go
  api/calc/internal/domain/exchange/service.go
  api/calc/internal/infrastructure/repository/exchange.go
  api/calc/internal/infrastructure/service/exchange.go
  api/calc/lib/redis/client.go
Labels: api: Calc, feature

#195 fix: ユーザーエンティティの配列型の値修正
  api/user/internal/infrastructure/service/user.go
Labels: api: User, bugfix

#186 ReactNative (Expo) のためのDockerの環境整備
  .gitignore
  Makefile
  docker-compose.expo.yaml
  infra/bin/get-local-ip-addr.sh
  infra/docker/native/react/Dockerfile
Labels: infrastructure

#194 feature: 支払い情報一覧取得APIのレスポンス編集
  api/batch/main.go
  api/calc/cmd/main.go
  api/calc/internal/application/payment.go
  api/calc/internal/application/payment_test.go
  api/calc/internal/application/response/payment.go
  api/calc/internal/domain/exchange/entity.go
  api/calc/internal/infrastructure/repository/exchange.go
  api/calc/internal/infrastructure/service/exchange.go
  api/calc/internal/interface/handler/v1/payment.go
  api/calc/registry/payment.go
  api/calc/registry/registry.go
  docs/12_backend/21_swagger/apiv1.yaml
Labels: api: Calc, feature

#193 Feature/add friend to group
  native/android/app/src/main/java/work/calmato/prestopay/network/ApiData.kt
  native/android/app/src/main/java/work/calmato/prestopay/network/ApiService.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/addFriend/AddFriendFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/friendList/FriendListFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupEdit/GroupEditAddFriendFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupEdit/GroupEditFragment.kt
  native/android/app/src/main/res/layout/fragment_add_friend.xml
  native/android/app/src/main/res/layout/fragment_group_edit.xml
  native/android/app/src/main/res/layout/fragment_group_edit_add_friend.xml
  native/android/app/src/main/res/navigation/navigation.xml
  native/android/app/src/main/res/values/strings.xml
Labels: native: android

#197 fix: 支払い完了ステータス更新PATHの修正
  api/calc/config/router.go
Labels: api: Calc, bugfix

#199 fix: 支払い完了フラグ更新APIの修正
  api/calc/internal/interface/handler/v1/payment.go
Labels: api: Calc, bugfix

#198 feature: グループモデルの作成
  native/react/package.json
  native/react/src/domain/models/auth.ts
  native/react/src/domain/models/group.ts
  native/react/src/domain/models/groups.ts
  native/react/src/domain/models/index.ts
  native/react/src/lib/datetime.ts
  native/react/src/modules/groups.ts
  native/react/src/modules/index.ts
  native/react/src/selectors/groups.ts
  native/react/src/selectors/index.ts
  native/react/yarn.lock
Labels: feature, native: react

#196 Feature android payment detail
  native/android/app/build.gradle
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupDetail/GroupDetailFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/paymentDetail/PaymentDetailFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/AdapterPayment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelPayment.kt
  native/android/app/src/main/res/layout/fragment_payment_detail.xml
  native/android/app/src/main/res/navigation/navigation.xml
  native/android/app/src/main/res/values-ja/strings.xml
  native/android/app/src/main/res/values/strings.xml
Labels: feature, native: android

#200 Feature android payment complete
  native/android/app/src/main/java/work/calmato/prestopay/database/DatabaseFriend.kt
  native/android/app/src/main/java/work/calmato/prestopay/network/ApiData.kt
  native/android/app/src/main/java/work/calmato/prestopay/network/ApiService.kt
  native/android/app/src/main/java/work/calmato/prestopay/network/DataTransferObjects.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupDetail/GroupDetailFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/paymentDetail/PaymentDetailFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/AdapterPayment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/BindingUtils.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelFriend.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelFriendGroup.kt
  native/android/app/src/main/res/layout/fragment_payment_detail.xml
  native/android/app/src/main/res/layout/list_item_payment.xml
  native/android/app/src/main/res/navigation/navigation.xml
  native/android/app/src/main/res/values-ja/strings.xml
  native/android/app/src/main/res/values/colors.xml
  native/android/app/src/main/res/values/strings.xml
Labels: feature, native: android

#205 userの新規登録でサムネイル登録を必須に変更した
  native/android/app/build.gradle
  native/android/app/src/main/res/layout/list_group_item_plane.xml
  native/android/app/src/main/res/layout/list_item_advanced_expense_amount.xml
  native/android/app/src/main/res/layout/list_item_advanced_expense_ratio.xml
  native/android/app/src/main/res/layout/list_item_checkbox.xml
  native/android/app/src/main/res/layout/list_item_grid.xml
  native/android/app/src/main/res/layout/list_item_plane.xml
  native/android/app/src/main/res/layout/list_item_tag.xml
Labels: native: android

#207 Bug fix
  native/android/app/src/main/java/work/calmato/prestopay/ui/addExpense/AddExpenseFragment.kt
Labels: bugfix, native: android

#208 feature: 非公開グループ設定用APIの実装
  api/calc/internal/domain/user/entity.go
  api/calc/mock/domain/exchange/repository.go
  api/calc/mock/domain/exchange/service.go
  api/user/config/router.go
  api/user/internal/application/response/user.go
  api/user/internal/application/user.go
  api/user/internal/domain/user/entity.go
  api/user/internal/domain/user/service.go
  api/user/internal/infrastructure/service/user.go
  api/user/internal/interface/handler/v1/user.go
  api/user/mock/domain/user/service.go
  docs/12_backend/21_swagger/apiv1.yaml
Labels: api: User, feature

#210 fix: docker-compose.yaml
  docker-compose.yaml
Labels: bugfix, infrastructure

#211 feature: グループ一覧APIのレスポンス編集
  api/calc/go.mod
  api/calc/go.sum
  api/calc/internal/application/group.go
  api/calc/internal/application/group_test.go
  api/calc/internal/application/response/group.go
  api/calc/internal/domain/group/service.go
  api/calc/internal/domain/user/entity.go
  api/calc/internal/infrastructure/service/group.go
  api/calc/internal/infrastructure/service/group_test.go
  api/calc/internal/interface/handler/v1/group.go
  api/calc/mock/domain/group/service.go
  api/user/internal/application/user.go
  api/user/internal/domain/user/entity.go
  api/user/internal/infrastructure/service/user.go
  api/user/internal/interface/handler/v1/user.go
  docs/12_backend/21_swagger/apiv1.yaml
Labels: api: Calc, bugfix, feature

#209 feature: ログイン画面のコンポーネント分割
  native/react/src/components/atoms/Link/index.tsx
  native/react/src/components/atoms/TextField/index.tsx
  native/react/src/components/atoms/index.ts
  native/react/src/components/molecules/SignInForm/index.tsx
  native/react/src/components/molecules/SignInSocialButton/index.tsx
  native/react/src/components/molecules/index.ts
  native/react/src/components/organisms/SignInCard/index.tsx
  native/react/src/components/organisms/index.ts
  native/react/src/components/pages/SignIn/index.tsx
  native/react/src/lib/hooks/index.ts
  native/react/src/lib/hooks/use-controlled-component.ts
Labels: feature, native: react

#213 feature: Oracle Cloudの環境設定
  .github/workflows/ci-terraform-stg.yaml
  Makefile
  docker-compose.yaml
  docs/12_backend/21_swagger/apiv1.yaml
  infra/server/dev/crontab
  infra/server/dev/presto-pay-dev-vm-api.yaml
  infra/terraform/Makefile
  infra/terraform/env/dev/main.tf
  infra/terraform/env/dev/variables.tf
  infra/terraform/env/stg/main.tf
  infra/terraform/examples/gcp/backend.tf.ci
  infra/terraform/examples/gcp/backend.tf.sample
  infra/terraform/examples/gcp/main.tf
  infra/terraform/examples/gcp/outputs.tf
  infra/terraform/examples/gcp/terraform.tfvars.sample
  infra/terraform/examples/gcp/variables.tf
  infra/terraform/examples/oci/backend.tf.sample
  infra/terraform/examples/oci/main.tf
  infra/terraform/examples/oci/terraform.tfvars.sample
  infra/terraform/examples/oci/variables.tf
  infra/terraform/modules/gcp/gce-global-address.tf
  infra/terraform/modules/gcp/gke-cluster.tf
  infra/terraform/modules/gcp/gke-node.tf
  infra/terraform/modules/gcp/locals.tf
  infra/terraform/modules/gcp/outputs.tf
  infra/terraform/modules/gcp/variables.tf
  infra/terraform/modules/oci/network/data.tf
  infra/terraform/modules/oci/network/locals.tf
  infra/terraform/modules/oci/network/network-security-group.tf
  infra/terraform/modules/oci/network/network.tf
  infra/terraform/modules/oci/network/outputs.tf
  infra/terraform/modules/oci/network/variables.tf
Labels: feature, infrastructure

#214 feature: グループ非公開設定APIの編集
  api/calc/config/router.go
  api/calc/internal/application/group.go
  api/calc/internal/application/response/group.go
  api/calc/internal/domain/group/service.go
  api/calc/internal/infrastructure/api/client.go
  api/calc/internal/infrastructure/service/group.go
  api/calc/internal/interface/handler/v1/group.go
  api/calc/mock/domain/group/service.go
  api/calc/mock/infrastructure/api/client.go
  api/user/config/router.go
  docs/12_backend/21_swagger/apiv1.yaml
  docs/12_backend/21_swagger/internal.yaml
Labels: api: Calc, api: User, feature

#212 Group の表示・非表示の実装
  native/android/app/src/main/java/work/calmato/prestopay/network/ApiData.kt
  native/android/app/src/main/java/work/calmato/prestopay/network/ApiService.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/accountHome/AccountHomeFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupEdit/GroupEditFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupList/GroupListHiddenFragment.kt
  native/android/app/src/main/res/drawable/switch_bg.xml
  native/android/app/src/main/res/drawable/switch_thumb.xml
  native/android/app/src/main/res/layout/fragment_account_home.xml
  native/android/app/src/main/res/layout/fragment_group_edit.xml
  native/android/app/src/main/res/layout/fragment_hidden_group_list.xml
  native/android/app/src/main/res/navigation/navigation.xml
  native/android/app/src/main/res/values/strings.xml
  native/android/app/src/main/res/values/styles.xml
Labels: feature, native: android

#215 非表示グループの削除を実装
  native/android/app/src/main/java/work/calmato/prestopay/network/ApiService.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupList/GroupListHiddenFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelGroup.kt
  native/android/app/src/main/res/layout/fragment_hidden_group_list.xml
  native/android/app/src/main/res/navigation/navigation.xml
  native/android/app/src/main/res/values-ja/strings.xml
  native/android/app/src/main/res/values/strings.xml
Labels: native: android

#216 recycler viewでスライドさせるとリストの一項目を消せるようにした。
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupList/GroupListHiddenFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelGroup.kt
  native/android/app/src/main/res/drawable/ic_baseline_delete_sweep_24.xml
  native/android/app/src/main/res/layout/fragment_hidden_group_list.xml
Labels: native: android

#217 Feature android add payment
  native/android/app/build.gradle
  native/android/app/src/main/java/work/calmato/prestopay/network/ApiData.kt
  native/android/app/src/main/java/work/calmato/prestopay/network/ApiService.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/addExpense/AddExpenseFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/addExpense/AdvancedExpenseFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/addPayment/AddPaymentFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/addPayment/AddPaymentStep1Fragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/addPayment/AddPaymentStep2Fragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/addPayment/AddPaymentStep3Fragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/addPayment/AddPaymentStep4Fragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/createGroup/CreateGroupFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupDetail/GroupDetailFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupList/GroupListFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/newAccount/NewAccountFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/paymentDetail/PaymentDetailFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/AdapterAddPaymentCheck.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/AdapterAddPaymentInputAmount.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/BindingUtils.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/Constant.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/GraphSetter.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/HideKeyboard.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelAddPayment.kt
  native/android/app/src/main/res/layout/dialog_add_friend.xml
  native/android/app/src/main/res/layout/dialog_advanced_expense.xml
  native/android/app/src/main/res/layout/fragment_account_edit.xml
  native/android/app/src/main/res/layout/fragment_add_expense.xml
  native/android/app/src/main/res/layout/fragment_add_payment.xml
  native/android/app/src/main/res/layout/fragment_add_payment_step1.xml
  native/android/app/src/main/res/layout/fragment_add_payment_step2.xml
  native/android/app/src/main/res/layout/fragment_add_payment_step2_view_pager.xml
  native/android/app/src/main/res/layout/fragment_add_payment_step4.xml
  native/android/app/src/main/res/layout/fragment_create_group.xml
  native/android/app/src/main/res/layout/fragment_group_detail.xml
  native/android/app/src/main/res/layout/fragment_group_edit.xml
  native/android/app/src/main/res/layout/fragment_group_friend.xml
  native/android/app/src/main/res/layout/fragment_new_account.xml
  native/android/app/src/main/res/layout/fragment_payment_detail.xml
  native/android/app/src/main/res/layout/list_item_add_payment_check.xml
  native/android/app/src/main/res/layout/list_item_add_payment_input_amount.xml
  native/android/app/src/main/res/layout/list_item_payment.xml
  native/android/app/src/main/res/navigation/navigation.xml
  native/android/app/src/main/res/navigation/navigation_add_payment.xml
  native/android/app/src/main/res/values-ja/strings.xml
  native/android/app/src/main/res/values/strings.xml
Labels: feature, native: android

#218 Feature android navigate from hidden groups to group detail
  native/android/app/src/main/java/work/calmato/prestopay/network/ApiData.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/addPayment/AddPaymentFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/addPayment/AddPaymentStep4Fragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupEdit/GroupEditFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupList/GroupListHiddenFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelAddPayment.kt
  native/android/app/src/main/res/navigation/navigation.xml
  native/android/app/src/main/res/values-ja/strings.xml
  native/android/app/src/main/res/values/strings.xml
Labels: bugfix, native: android
