Repository calmato/presto-pay, pull requests merged in 2020-08, with the labels that each got.

#120 fix: payment entity
  api/calc/internal/application/request/payment.go
  api/calc/internal/application/response/payment.go
  api/calc/internal/domain/payment/entity.go
  api/calc/internal/interface/handler/v1/payment.go
  api/payment/.keep
Labels: api: Calc, bugfix

#119 うごくようになった！
  native/android/app/src/main/java/work/calmato/prestopay/database/DatabaseFriend.kt
  native/android/app/src/main/java/work/calmato/prestopay/network/ApiData.kt
  native/android/app/src/main/java/work/calmato/prestopay/network/DataTransferObjects.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupFriend/GroupFriendFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/AdapterGroupPlane.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelFriendGroup.kt
Labels: feature, native: android

#121 Feature/get group
  native/android/app/src/main/java/work/calmato/prestopay/database/DatabaseFriend.kt
  native/android/app/src/main/java/work/calmato/prestopay/database/Room.kt
  native/android/app/src/main/java/work/calmato/prestopay/network/ApiData.kt
  native/android/app/src/main/java/work/calmato/prestopay/network/ApiService.kt
  native/android/app/src/main/java/work/calmato/prestopay/network/DataTransferObjects.kt
  native/android/app/src/main/java/work/calmato/prestopay/repository/FriendsRepository.kt
  native/android/app/src/main/java/work/calmato/prestopay/repository/GroupsRepository.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/addFriend/AddFriendFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupFriend/GroupFriendFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/AdapterFriendPlane.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/AdapterGroupPlane.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/BindingUtils.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelFriendGroup.kt
  native/android/app/src/main/res/layout/list_group_item_plane.xml
Labels: feature, native: android

#124 refactor: Update payment arguments
  api/calc/internal/application/request/payment.go
  api/calc/internal/application/response/payment.go
  api/calc/internal/domain/payment/entity.go
Labels: api: Calc, feature

#125 Feature/crate group
  native/android/app/src/main/java/work/calmato/prestopay/ui/accountHome/AccountHomeFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupFriend/GroupFriendFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/home/HomeFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelFriendGroup.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelGroup.kt
  native/android/app/src/main/res/layout/fragment_home.xml
Labels: native: android

#126 feature: グループへユーザー追加用APIの実装
  api/calc/config/router.go
  api/calc/internal/application/group.go
  api/calc/internal/application/group_test.go
  api/calc/internal/application/request/group.go
  api/calc/internal/application/response/group.go
  api/calc/internal/application/validation/group.go
  api/calc/internal/application/validation/group_test.go
  api/calc/internal/domain/group/repository.go
  api/calc/internal/domain/group/service.go
  api/calc/internal/infrastructure/repository/group.go
  api/calc/internal/infrastructure/service/group.go
  api/calc/internal/infrastructure/service/group_test.go
  api/calc/internal/interface/handler/v1/group.go
  api/calc/mock/application/validation/group.go
  api/calc/mock/domain/group/repository.go
  api/calc/mock/domain/group/service.go
  docs/12_backend/21_swagger/apiv1.yaml
Labels: api: Calc, feature

#127 feature: Github Actionsの定義ファイルの更新
  .github/workflows/ci-admin.yaml
  .github/workflows/ci-android-on-master-branch.yaml
  .github/workflows/ci-android.yaml
  .github/workflows/ci-calc-api-reviewdog.yaml
  .github/workflows/ci-calc-api.yaml
  .github/workflows/ci-terraform.yaml
  .github/workflows/ci-user-api-reviewdog.yaml
  .github/workflows/ci-user-api.yaml
Labels: feature, infrastructure

#128 feature: 開発環境のノードタイプ変更
  infra/terraform/env/stg/main.tf
Labels: infrastructure

#131 feature: デバイスID登録用APIの実装
  api/user/config/router.go
  api/user/go.mod
  api/user/go.sum
  api/user/internal/application/request/user.go
  api/user/internal/application/response/user.go
  api/user/internal/application/user.go
  api/user/internal/application/user_test.go
  api/user/internal/application/validation/user.go
  api/user/internal/application/validation/user_test.go
  api/user/internal/domain/user/entity.go
  api/user/internal/interface/handler/v1/user.go
  api/user/mock/application/validation/user.go
  docs/12_backend/21_swagger/apiv1.yaml
  docs/12_backend/21_swagger/internal.yaml
Labels: api: User, feature, test

#132 chore: go mod tidy in calc api
  api/calc/go.sum
Labels: api: Calc, dependencies

#133 feature: モニタリングのPodをスケールアップ
  infra/kubernetes/stg/monitoring/daemonset-node-exporter.yaml
  infra/kubernetes/stg/monitoring/deployment-fluentd.yaml
  infra/kubernetes/stg/monitoring/deployment-grafana.yaml
  infra/kubernetes/stg/monitoring/deployment-kube-state-metrics.yaml
  infra/kubernetes/stg/monitoring/deployment-loki.yaml
  infra/kubernetes/stg/monitoring/deployment-prometheus.yaml
Labels: infrastructure

#136 Feature view model friend
  native/android/app/src/main/java/work/calmato/prestopay/ui/friendList/FriendListFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelFriend.kt
  native/android/app/src/main/res/layout/fragment_friend_list.xml
  native/android/app/src/main/res/layout/fragment_update_pass_login.xml
  native/android/app/src/main/res/layout/spinner_item_currency.xml
Labels: feature, native: android

#139 feature: FCM用のデバイスID送信処理追加
  native/android/app/build.gradle
  native/android/app/src/main/AndroidManifest.xml
  native/android/app/src/main/java/work/calmato/prestopay/network/ApiData.kt
  native/android/app/src/main/java/work/calmato/prestopay/network/ApiService.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/login/LoginFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/MyFirebaseMessagingService.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelUser.kt
Labels: feature, native: android

#143 Feature android group
  native/android/app/src/main/java/work/calmato/prestopay/database/Room.kt
  native/android/app/src/main/java/work/calmato/prestopay/network/ApiData.kt
  native/android/app/src/main/java/work/calmato/prestopay/network/DataTransferObjects.kt
  native/android/app/src/main/java/work/calmato/prestopay/repository/FriendsRepository.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/addExpense/AddExpenseFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/createGroup/CreateGroupFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/friendList/FriendListFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupList/GroupListFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/home/HomeFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/AdapterGroupPlane.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelFriend.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelGroup.kt
  native/android/app/src/main/res/navigation/navigation.xml
Labels: feature, native: android

#144 feature: Firebase Cloud Messagingを操作用ライブラリの作成
  api/calc/cmd/main.go
  api/calc/go.mod
  api/calc/go.sum
  api/calc/lib/firebase/authentication/client.go
  api/calc/lib/firebase/client.go
  api/calc/lib/firebase/firestore/client.go
  api/calc/lib/firebase/messaging/client.go
  api/calc/lib/firebase/storage/client.go
  api/calc/registry/registry.go
Labels: api: Calc, feature

#145 feat: Update payment service
  api/calc/internal/domain/user/entity.go
  api/calc/internal/infrastructure/service/payment.go
  api/calc/registry/payment.go
  api/calc/registry/registry.go
Labels: WIP, api: Calc, feature

#146 feat: Add notification in register payment
  api/calc/internal/infrastructure/service/payment.go
  api/calc/lib/firebase/messaging/client.go
Labels: api: Calc, bugfix
