Repository calmato/presto-pay, pull requests merged in 2020-11, with the labels that each got.

#221 feat: Update docker-compose.yaml
  docker-compose.api.yaml
Labels: feature, infrastructure

#222 グループと友達の削除の実装
  native/android/app/src/main/java/work/calmato/prestopay/database/Room.kt
  native/android/app/src/main/java/work/calmato/prestopay/repository/GroupsRepository.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupFriend/GroupFriendFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelFriendGroup.kt
  native/android/app/src/main/res/values-ja/strings.xml
  native/android/app/src/main/res/values/strings.xml
Labels: feature, native: android

#224 feature: 支払い情報APIのリクエスト,レスポンスの変更
  api/calc/internal/application/payment.go
  api/calc/internal/application/request/payment.go
  api/calc/internal/application/response/payment.go
  api/calc/internal/application/validation/payment_test.go
  api/calc/internal/interface/handler/v1/payment.go
  docs/12_backend/21_swagger/apiv1.yaml
Labels: api: Calc, feature

#223 支払い情報の実装
  native/android/app/src/main/java/work/calmato/prestopay/database/Room.kt
  native/android/app/src/main/java/work/calmato/prestopay/network/ApiService.kt
  native/android/app/src/main/java/work/calmato/prestopay/repository/PaymentRepository.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupDetail/GroupDetailFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelPayment.kt
  native/android/app/src/main/res/layout/fragment_group_detail.xml
  native/android/app/src/main/res/layout/list_item_payment.xml
Labels: native: android

#225 feature: プッシュ通知の追加
  api/calc/internal/domain/notification.go
  api/calc/internal/infrastructure/api/client.go
  api/calc/internal/infrastructure/service/group.go
  api/calc/internal/infrastructure/service/group_test.go
  api/calc/internal/infrastructure/service/payment.go
  api/calc/mock/infrastructure/api/client.go
  api/calc/registry/group.go
  api/calc/registry/registry.go
  api/user/internal/application/response/user.go
  api/user/internal/interface/handler/v1/user.go
Labels: api: Calc, feature

#227 fix: リクエストのバリデーションを削除
  api/calc/internal/application/request/payment.go
Labels: api: Calc, bugfix

#228 Feature android payment edit
  native/android/app/src/main/java/work/calmato/prestopay/database/DatabaseFriend.kt
  native/android/app/src/main/java/work/calmato/prestopay/database/Room.kt
  native/android/app/src/main/java/work/calmato/prestopay/network/ApiData.kt
  native/android/app/src/main/java/work/calmato/prestopay/network/ApiService.kt
  native/android/app/src/main/java/work/calmato/prestopay/network/DataTransferObjects.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/addPayment/AddPaymentFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/addPayment/AddPaymentStep1Fragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/addPayment/AddPaymentStep2Fragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/addPayment/AddPaymentStep4Fragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupDetail/GroupDetailFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupList/GroupListFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/paymentDetail/PaymentDetailFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/AdapterAddPaymentCheck.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/AdapterPayment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/BindingUtils.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelAddPayment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelPayment.kt
  native/android/app/src/main/res/layout/fragment_add_payment_step2_view_pager.xml
  native/android/app/src/main/res/layout/list_item_payment.xml
  native/android/app/src/main/res/menu/header_edit.xml
  native/android/app/src/main/res/navigation/navigation.xml
  native/android/app/src/main/res/values/strings.xml
Labels: feature, native: android

#229 Feature android settle up
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupDetail/GroupDetailFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/settleUp/SettleUpFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelAddPayment.kt
  native/android/app/src/main/res/drawable/ic_baseline_arrow_forward_24.xml
  native/android/app/src/main/res/layout/fragment_create_group.xml
  native/android/app/src/main/res/layout/fragment_settle_up.xml
  native/android/app/src/main/res/navigation/navigation.xml
  native/android/app/src/main/res/values-ja/strings.xml
  native/android/app/src/main/res/values/strings.xml
Labels: feature, native: android

#230 feat: 支払い一覧のレスポンスを編集
  api/calc/internal/application/payment.go
Labels: api: Calc, feature

#231 削除系のUI改善とバグの修正
  native/android/app/src/main/java/work/calmato/prestopay/network/ApiData.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/accountEdit/AccountEditFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/accountHome/AccountHomeFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/addFriend/AddFriendFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupDetail/GroupDetailFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupEdit/GroupEditAddFriendFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupEdit/GroupEditFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupFriend/GroupFriendFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupList/GroupListHiddenFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/BindingUtils.kt
  native/android/app/src/main/res/layout/fragment_account_edit.xml
  native/android/app/src/main/res/layout/fragment_account_home.xml
  native/android/app/src/main/res/layout/fragment_add_friend.xml
  native/android/app/src/main/res/layout/fragment_friend_list.xml
  native/android/app/src/main/res/layout/fragment_group_edit.xml
  native/android/app/src/main/res/layout/fragment_group_list.xml
  native/android/app/src/main/res/layout/fragment_hidden_group_list.xml
  native/android/app/src/main/res/layout/fragment_update_pass_login.xml
  native/android/app/src/main/res/layout/list_group_item_plane.xml
  native/android/app/src/main/res/layout/list_item_checkbox.xml
  native/android/app/src/main/res/layout/list_item_payment.xml
  native/android/app/src/main/res/layout/list_item_plane.xml
  native/android/app/src/main/res/values/strings.xml
Labels: bugfix, native: android

#233 fix: OkHTTPの修正
  native/android/app/src/main/java/work/calmato/prestopay/network/ApiService.kt
Labels: bugfix, native: android

#234 Feature android show debt
  native/android/app/src/main/java/work/calmato/prestopay/database/DatabaseFriend.kt
  native/android/app/src/main/java/work/calmato/prestopay/database/Room.kt
  native/android/app/src/main/java/work/calmato/prestopay/network/ApiData.kt
  native/android/app/src/main/java/work/calmato/prestopay/network/ApiService.kt
  native/android/app/src/main/java/work/calmato/prestopay/network/DataTransferObjects.kt
  native/android/app/src/main/java/work/calmato/prestopay/repository/FriendsRepository.kt
  native/android/app/src/main/java/work/calmato/prestopay/repository/PaymentRepository.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupDetail/GroupDetailFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/paymentDetail/PaymentDetailFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/settleUp/SettleUpFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelAddPayment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelFriend.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelPayment.kt
  native/android/app/src/main/res/layout/fragment_group_detail.xml
  native/android/app/src/main/res/layout/fragment_settle_up.xml
  native/android/app/src/main/res/navigation/navigation.xml
Labels: feature, native: android

#235 feature: APIのバリデーション周りともろもろの編集
  .github/workflows/cd-batch-api.yaml
  .github/workflows/cd-calc-api.yaml
  .github/workflows/cd-user-api.yaml
  .github/workflows/codeql-analysis.yml
  api/calc/internal/application/payment.go
  api/calc/internal/application/request/group.go
  api/calc/internal/application/request/payment.go
  api/calc/internal/application/validation/base.go
  api/calc/internal/application/validation/payment_test.go
  api/calc/internal/infrastructure/api/client.go
  api/calc/internal/infrastructure/service/group.go
  api/calc/internal/infrastructure/service/payment.go
  api/calc/internal/interface/handler/v1/payment.go
  api/calc/lib/common/datetime.go
  api/calc/middleware/logging.go
  api/calc/mock/infrastructure/api/client.go
  api/user/middleware/logging.go
  docker-compose.api.stg.yaml
  docs/12_backend/01_design/README.md
  docs/12_backend/21_swagger/apiv1.yaml
Labels: api: Calc, api: User, bugfix, feature

#239 fix: crontabの設定を変更
  infra/server/dev/crontab
Labels: infrastructure

#237 style: 変数名のリファクタ
  api/user/internal/infrastructure/repository/user.go
  api/user/internal/infrastructure/validation/user.go
Labels: api: User, refactor

#238 style: 変数名のリファクタ
  api/calc/internal/infrastructure/repository/group.go
  api/calc/internal/infrastructure/repository/payment.go
  api/calc/internal/infrastructure/validation/group.go
  api/calc/internal/infrastructure/validation/payment.go
Labels: api: Calc, refactor

#241 feat: 支払い情報追加/変更時、グループのUpdatedAtも更新するように
  api/calc/internal/infrastructure/service/payment.go
  api/calc/internal/infrastructure/service/payment_test.go
Labels: api: Calc, feature

#242 Fix android api
  native/android/app/src/main/java/work/calmato/prestopay/ui/accountHome/AccountHomeFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/addPayment/AddPaymentStep1Fragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/addPayment/AddPaymentStep4Fragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/createGroup/CreateGroupFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/newAccount/NewAccountFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/resetPassLogin/UpdatePassLoginFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/AdapterAddPaymentCheck.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/BindingUtils.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/DatePickerFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/EncodeDecode.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelFriend.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelFriendGroup.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelGroup.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelUser.kt
  native/android/app/src/main/res/layout/fragment_account_edit.xml
  native/android/app/src/main/res/layout/fragment_add_payment_step1.xml
  native/android/app/src/main/res/layout/fragment_create_group.xml
  native/android/app/src/main/res/layout/fragment_group_edit.xml
  native/android/app/src/main/res/layout/fragment_new_account.xml
  native/android/app/src/main/res/layout/fragment_update_pass_login.xml
  native/android/app/src/main/res/values-ja/strings.xml
  native/android/app/src/main/res/values/strings.xml
Labels: bugfix, native: android

#244 fix: 支払い登録時のリクエスト値の絶対値をとるよう制御
  api/calc/internal/application/payment.go
Labels: api: Calc, bugfix

#245 Fix android add friend
  native/android/app/src/main/java/work/calmato/prestopay/database/Room.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/addFriend/AddFriendFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelFriendGroup.kt
Labels: bugfix, native: android

#246 refactor: Fluentdへのログ送信をコメントアウト
  api/calc/internal/infrastructure/service/group.go
  api/calc/internal/interface/handler/error.go
  api/user/internal/interface/handler/error.go
Labels: api: Calc, api: User, refactor

#247 feat: AdminページをFirebase Hostingへアップロード
  web/admin/.firebase/hosting.ZGlzdA.cache
  web/admin/.firebaserc
  web/admin/firebase.json
Labels: feature

#243 Fix android create group
  native/android/app/src/main/java/work/calmato/prestopay/database/Room.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelFriendGroup.kt
Labels: bugfix, native: android

#248 Fix android header colar
  native/android/app/src/main/java/work/calmato/prestopay/ui/settleUp/SettleUpFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelAddPayment.kt
  native/android/app/src/main/res/drawable/ic_baseline_person_24.xml
  native/android/app/src/main/res/drawable/ic_people_black_24dp.xml
  native/android/app/src/main/res/drawable/ic_person_black_24dp.xml
  native/android/app/src/main/res/layout/fragment_group_detail.xml
  native/android/app/src/main/res/layout/fragment_home.xml
  native/android/app/src/main/res/menu/fooder.xml
  native/android/app/src/main/res/values/colors.xml
  native/android/app/src/main/res/values/styles.xml
Labels: bugfix, native: android

#251 fix: 検証環境のリソース割合を変更
  docker-compose.api.stg.yaml
Labels: infrastructure

#250 fix: Cloud MassagingでTokenが0,nilのときreturnするように
  api/calc/internal/infrastructure/notification/client.go
Labels: api: Calc, bugfix

#252 Bugfix/1.0
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupDetail/GroupDetailFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupFriend/GroupFriendFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupList/GroupListHiddenFragment.kt
  native/android/app/src/main/res/layout/fragment_group_detail.xml
  native/android/app/src/main/res/layout/fragment_group_friend.xml
  native/android/app/src/main/res/layout/fragment_hidden_group_list.xml
Labels: bugfix, native: android

#253 Bugfix/validation1.0
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupEdit/GroupEditAddFriendFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupFriend/GroupFriendFragment.kt
Labels: bugfix, native: android

#255 feature: VMのリソース調整等
  docker-compose.api.prod.yaml
  infra/server/dev/crontab
  infra/server/prod/crontab
Labels: infrastructure

#256 Fix android sdk version
  native/android/app/build.gradle
  native/android/app/src/main/java/work/calmato/prestopay/database/DatabaseFriend.kt
  native/android/app/src/main/java/work/calmato/prestopay/network/ApiData.kt
  native/android/app/src/main/java/work/calmato/prestopay/network/ApiService.kt
  native/android/app/src/main/java/work/calmato/prestopay/network/DataTransferObjects.kt
  native/android/app/src/main/java/work/calmato/prestopay/repository/FriendsRepository.kt
  native/android/app/src/main/java/work/calmato/prestopay/repository/PaymentRepository.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/accountEdit/AccountEditFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/accountHome/AccountHomeFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/addFriend/AddFriendFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/addPayment/AddPaymentFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/addPayment/AddPaymentStep1Fragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/addPayment/AddPaymentStep2Fragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/addPayment/AddPaymentStep3Fragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/addPayment/AddPaymentStep4Fragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/createGroup/CreateGroupFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/friendList/FriendListFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupDetail/GroupDetailFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupEdit/GroupEditAddFriendFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupEdit/GroupEditFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupFriend/GroupFriendFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupList/GroupListFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupList/GroupListHiddenFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/home/HomeFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/login/LoginFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/mailCheck/MailCheckFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/newAccount/NewAccountFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/notificationSet/NotificationSetFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/paymentDetail/PaymentDetailFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/resetPass/ResetPassFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/resetPassLogin/UpdatePassLoginFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/settleUp/SettleUpFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/AdapterAddPaymentInputAmount.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/AdapterCurrency.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/AdapterGrid.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/AdapterPayment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/BindingUtils.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/DatePickerFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/EncodeDecode.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/PermissionBase.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelAddPayment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelFriend.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelFriendGroup.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelGroup.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelPayment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelUser.kt
  native/android/app/src/main/res/layout/fragment_group_detail.xml
  native/android/build.gradle
Labels: bugfix, native: android

#254 Fix android now loading
  native/android/app/src/main/java/work/calmato/prestopay/ui/accountEdit/AccountEditFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/accountHome/AccountHomeFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/addFriend/AddFriendFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/addPayment/AddPaymentFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/addPayment/AddPaymentStep4Fragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/createGroup/CreateGroupFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupEdit/GroupEditAddFriendFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupEdit/GroupEditFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupFriend/GroupFriendFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/login/LoginFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/newAccount/NewAccountFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/paymentDetail/PaymentDetailFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/resetPass/ResetPassFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/resetPassLogin/UpdatePassLoginFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/settleUp/SettleUpFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/InternetConnectionUI.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelAddPayment.kt
  native/android/app/src/main/res/layout/fragment_account_edit.xml
  native/android/app/src/main/res/layout/fragment_account_home.xml
  native/android/app/src/main/res/layout/fragment_add_friend.xml
  native/android/app/src/main/res/layout/fragment_add_payment.xml
  native/android/app/src/main/res/layout/fragment_add_payment_step4.xml
  native/android/app/src/main/res/layout/fragment_create_group.xml
  native/android/app/src/main/res/layout/fragment_group_edit.xml
  native/android/app/src/main/res/layout/fragment_group_edit_add_friend.xml
  native/android/app/src/main/res/layout/fragment_group_friend.xml
  native/android/app/src/main/res/layout/fragment_login.xml
  native/android/app/src/main/res/layout/fragment_new_account.xml
  native/android/app/src/main/res/layout/fragment_payment_detail.xml
  native/android/app/src/main/res/layout/fragment_reset_pass.xml
  native/android/app/src/main/res/layout/fragment_settle_up.xml
  native/android/app/src/main/res/layout/fragment_update_pass_login.xml
Labels: bugfix, native: android

#257 Feature android settleup
  native/android/app/build.gradle
  native/android/app/src/main/java/work/calmato/prestopay/network/ApiService.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupDetail/GroupDetailFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/settleUpGroup/SettleUpGroupFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/AdapterSettleUpChild.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/AdapterSettleUpGroup.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/BindingUtils.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelSettleUpGroup.kt
  native/android/app/src/main/res/layout/fragment_settle_up_group.xml
  native/android/app/src/main/res/layout/list_item_settle_up_child_view.xml
  native/android/app/src/main/res/layout/list_item_settle_up_group.xml
  native/android/app/src/main/res/navigation/navigation.xml
Labels: feature, native: android

#258 feature: 認証なしのユーザ作成/編集APIの実装
  api/user/config/router.go
  api/user/internal/application/request/user.go
  api/user/internal/application/response/user.go
  api/user/internal/application/user.go
  api/user/internal/application/validation/user.go
  api/user/internal/domain/user/repository.go
  api/user/internal/domain/user/service.go
  api/user/internal/infrastructure/repository/user.go
  api/user/internal/infrastructure/service/user.go
  api/user/internal/infrastructure/validation/user.go
  api/user/internal/interface/handler/v1/user.go
  api/user/mock/application/validation/user.go
  api/user/mock/domain/user/repository.go
  api/user/mock/domain/user/service.go
  docs/12_backend/21_swagger/internal.yaml
Labels: api: User, feature

#260 feature: 認証機能なしのユーザをグループに追加できるように
  api/calc/config/router.go
  api/calc/internal/application/group.go
  api/calc/internal/application/request/group.go
  api/calc/internal/application/response/group.go
  api/calc/internal/application/validation/group.go
  api/calc/internal/domain/user/service.go
  api/calc/internal/infrastructure/api/client.go
  api/calc/internal/infrastructure/service/user.go
  api/calc/internal/interface/handler/v1/group.go
  api/calc/mock/application/validation/group.go
  api/calc/mock/domain/user/service.go
  api/calc/mock/infrastructure/api/client.go
  api/user/config/router.go
  api/user/internal/application/user.go
  docs/12_backend/21_swagger/apiv1.yaml
  docs/12_backend/21_swagger/internal.yaml
Labels: api: Calc, feature

#261 fix: 支払い情報関連のAPI修正
  api/calc/internal/application/payment.go
  api/calc/internal/application/request/payment.go
  api/calc/internal/application/response/payment.go
  api/calc/internal/domain/payment/entity.go
  api/calc/internal/domain/payment/service.go
  api/calc/internal/infrastructure/service/payment.go
  api/calc/internal/interface/handler/v1/payment.go
  api/calc/mock/domain/payment/service.go
Labels: api: Calc, api: User, bugfix
