Repository calmato/presto-pay, pull requests merged in 2020-05, with the labels that each got.

#11 Feature/android layout
  native/android/app/src/main/res/drawable/back.xml
  native/android/app/src/main/res/layout/fragment_create_new_account.xml
  native/android/app/src/main/res/layout/fragment_mail_confirmation.xml
  native/android/app/src/main/res/layout/fragment_reset_password.xml
  native/android/app/src/main/res/values/strings.xml
Labels: native: android

#14 feature: Create Authentication
  api/user/bin/build-mocks.sh
  api/user/internal/application/request/user.go
  api/user/internal/application/user.go
  api/user/internal/application/user_test.go
  api/user/internal/application/validation/base.go
  api/user/internal/application/validation/user_test.go
  api/user/internal/domain/user/entity.go
  api/user/internal/domain/user/repository.go
  api/user/internal/domain/user/service.go
  api/user/internal/domain/validation.go
  api/user/internal/infrastructure/repository/user.go
  api/user/internal/infrastructure/service/user.go
  api/user/internal/infrastructure/service/user_test.go
  api/user/internal/infrastructure/validation/user_test.go
  api/user/lib/firebase/authentication/client.go
  api/user/mock/domain/user/repository.go
  api/user/mock/domain/user/service.go
  docs/12_backend/21_swagger/apiv1.yaml
Labels: api: User, feature

#15 feature: ユーザー編集APIの実装
  api/user/config/router.go
  api/user/internal/application/response/error.go
  api/user/internal/application/response/user.go
  api/user/internal/application/user.go
  api/user/internal/application/user_test.go
  api/user/internal/application/validation/user.go
  api/user/internal/application/validation/user_test.go
  api/user/internal/domain/error.go
  api/user/internal/domain/user/entity.go
  api/user/internal/domain/user/repository.go
  api/user/internal/domain/user/service.go
  api/user/internal/domain/validation.go
  api/user/internal/infrastructure/repository/user.go
  api/user/internal/infrastructure/service/user.go
  api/user/internal/infrastructure/service/user_test.go
  api/user/internal/infrastructure/validation/user.go
  api/user/internal/infrastructure/validation/user_test.go
  api/user/internal/interface/handler/error.go
  api/user/internal/interface/handler/v1/user.go
  api/user/mock/application/validation/user.go
  api/user/mock/domain/user/repository.go
  api/user/mock/domain/user/service.go
  docs/12_backend/21_swagger/apiv1.yaml
Labels: api: User, feature

#16 feature: ユーザーパスワード編集APIの実装
  api/user/config/router.go
  api/user/internal/application/request/user.go
  api/user/internal/application/user.go
  api/user/internal/application/user_test.go
  api/user/internal/application/validation/user.go
  api/user/internal/application/validation/user_test.go
  api/user/internal/domain/user/repository.go
  api/user/internal/domain/user/service.go
  api/user/internal/infrastructure/repository/user.go
  api/user/internal/infrastructure/service/user.go
  api/user/internal/infrastructure/service/user_test.go
  api/user/internal/interface/handler/v1/user.go
  api/user/mock/application/validation/user.go
  api/user/mock/domain/user/repository.go
  api/user/mock/domain/user/service.go
  docs/12_backend/21_swagger/apiv1.yaml
Labels: api: User, feature

#17 setup swift app
  native/ios/.gitignore
  native/ios/PrestoPay.xcodeproj/project.pbxproj
  native/ios/PrestoPay.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  native/ios/PrestoPay.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  native/ios/PrestoPay/AppDelegate.swift
  native/ios/PrestoPay/Assets.xcassets/AppIcon.appiconset/Contents.json
  native/ios/PrestoPay/Assets.xcassets/Contents.json
  native/ios/PrestoPay/Base.lproj/LaunchScreen.storyboard
  native/ios/PrestoPay/Info.plist
  native/ios/PrestoPay/Models/.keep
  native/ios/PrestoPay/Navigators/.keep
  native/ios/PrestoPay/PrestoPay.xcdatamodeld/.xccurrentversion
  native/ios/PrestoPay/PrestoPay.xcdatamodeld/PrestoPay.xcdatamodel/contents
  native/ios/PrestoPay/Preview Content/Preview Assets.xcassets/Contents.json
  native/ios/PrestoPay/SceneDelegate.swift
  native/ios/PrestoPay/Utils/.keep
  native/ios/PrestoPay/ViewModels/.keep
  native/ios/PrestoPay/Views/ContentView.swift
Labels: native: ios

#18 feature: ログインページのUIを実装
  native/ios/Podfile
  native/ios/Podfile.lock
  native/ios/Pods/Manifest.lock
  native/ios/Pods/Pods.xcodeproj/project.pbxproj
  native/ios/Pods/Target Support Files/Pods-PrestoPay/Pods-PrestoPay-Info.plist
  native/ios/Pods/Target Support Files/Pods-PrestoPay/Pods-PrestoPay-acknowledgements.markdown
  native/ios/Pods/Target Support Files/Pods-PrestoPay/Pods-PrestoPay-acknowledgements.plist
  native/ios/Pods/Target Support Files/Pods-PrestoPay/Pods-PrestoPay-dummy.m
  native/ios/Pods/Target Support Files/Pods-PrestoPay/Pods-PrestoPay-frameworks-Debug-input-files.xcfilelist
  native/ios/Pods/Target Support Files/Pods-PrestoPay/Pods-PrestoPay-frameworks-Debug-output-files.xcfilelist
  native/ios/Pods/Target Support Files/Pods-PrestoPay/Pods-PrestoPay-frameworks-Release-input-files.xcfilelist
  native/ios/Pods/Target Support Files/Pods-PrestoPay/Pods-PrestoPay-frameworks-Release-output-files.xcfilelist
  native/ios/Pods/Target Support Files/Pods-PrestoPay/Pods-PrestoPay-frameworks.sh
  native/ios/Pods/Target Support Files/Pods-PrestoPay/Pods-PrestoPay-umbrella.h
  native/ios/Pods/Target Support Files/Pods-PrestoPay/Pods-PrestoPay.debug.xcconfig
  native/ios/Pods/Target Support Files/Pods-PrestoPay/Pods-PrestoPay.modulemap
  native/ios/Pods/Target Support Files/Pods-PrestoPay/Pods-PrestoPay.release.xcconfig
  native/ios/PrestoPay.xcodeproj/project.pbxproj
  native/ios/PrestoPay.xcworkspace/contents.xcworkspacedata
  native/ios/PrestoPay.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  native/ios/PrestoPay.xcworkspace/xcshareddata/xcschemes/PrestoPay.xcscheme
  native/ios/PrestoPay/Assets.xcassets/facebook.imageset/Contents.json
  native/ios/PrestoPay/Assets.xcassets/facebook.imageset/facebook.png
  native/ios/PrestoPay/Assets.xcassets/google.imageset/Contents.json
  native/ios/PrestoPay/Assets.xcassets/google.imageset/google.png
  native/ios/PrestoPay/Assets.xcassets/mail.imageset/Contents.json
  native/ios/PrestoPay/Assets.xcassets/mail.imageset/mail.png
  native/ios/PrestoPay/Assets.xcassets/password.imageset/Contents.json
  native/ios/PrestoPay/Assets.xcassets/password.imageset/password.png
  native/ios/PrestoPay/Assets.xcassets/twitter.imageset/Contents.json
  native/ios/PrestoPay/Assets.xcassets/twitter.imageset/twitter.png
  native/ios/PrestoPay/Utils/.keep
  native/ios/PrestoPay/Utils/ColorComponent.swift
  native/ios/PrestoPay/Views/ContentView.swift
  native/ios/PrestoPay/Views/LoginForm.swift
  native/ios/PrestoPay/Views/LoginView.swift
  native/ios/PrestoPay/Views/SocialButton.swift
Labels: feature, native: ios

#21 fix: login page
  native/ios/PrestoPay/Views/LoginView.swift
  native/ios/PrestoPay/Views/SignUpView.swift
Labels: feature, native: ios

#22 feat: Create SignUpViewModel
  native/ios/PrestoPay/ViewModels/Auth/LoginViewModel.swift
  native/ios/PrestoPay/ViewModels/Auth/SIgnUpViewModel.swift
Labels: feature, native: ios

#26 feat: Create workflow for terraform
  .github/workflows/ci-terraform.yaml
Labels: feature, infrastructure

#29 Feature/terraform/crete example
  docs/13_infrastructure/32_terraform/README.md
  infra/terraform/Makefile
  infra/terraform/examples/backend.tf.ci
  infra/terraform/examples/backend.tf.sample
  infra/terraform/examples/main.tf
  infra/terraform/examples/outputs.tf
  infra/terraform/examples/terraform.tfvars.sample
  infra/terraform/examples/variables.tf
Labels: documentation, feature, infrastructure

#30 feat: Update variables.tf
  .github/workflows/ci-terraform.yaml
  infra/terraform/env/stg/variables.tf
  infra/terraform/examples/variables.tf
  infra/terraform/modules/variables.tf
Labels: feature, infrastructure

#43 restore branch
  .github/workflows/ci-android.yaml
  native/android/app/src/main/java/work/calmato/prestopay/MainActivity.kt
Labels: WIP

#46 faet: 管理用ページの作成
  .env.temp
  .github/workflows/ci-admin.yaml
  docker-compose.yaml
  infra/docker/web/admin/Dockerfile_development
  web/.keep
  web/admin/.eslintrc.js
  web/admin/.gitignore
  web/admin/.prettierrc
  web/admin/README.md
  web/admin/app/assets/README.md
  web/admin/app/components/FirebaseAuth.vue
  web/admin/app/components/README.md
  web/admin/app/layouts/README.md
  web/admin/app/layouts/default.vue
  web/admin/app/middleware/README.md
  web/admin/app/pages/README.md
  web/admin/app/pages/index.vue
  web/admin/app/plugins/README.md
  web/admin/app/plugins/firebase.ts
  web/admin/app/static/README.md
  web/admin/app/static/favicon.ico
  web/admin/app/store/README.md
  web/admin/app/store/auth.ts
  web/admin/app/types/vue-shim.d.ts
  web/admin/nuxt.config.ts
  web/admin/package.json
  web/admin/tsconfig.json
  web/admin/yarn.lock
Labels: feature

#47 feat: Create monitoring containers
  docker-compose.yaml
  infra/docker/grafana/Dockerfile_development
  infra/docker/prometheus/Dockerfile_development
  infra/prometheus/development.yaml
Labels: feature, infrastructure

#49 Feature/infra/monitoring
  api/user/config/router.go
  api/user/go.mod
  api/user/go.sum
  docker-compose.yaml
  infra/docker/monitoring/fluentd/Dockerfile_development
  infra/docker/monitoring/grafana/Dockerfile_development
  infra/docker/monitoring/loki/Dockerfile_development
  infra/docker/monitoring/prometheus/Dockerfile_development
  infra/fluentd/development.conf
  infra/fluentd/plugin/out_loki_dev.rb
  infra/prometheus/development.yaml
Labels: feature, infrastructure

#50 Feature/kubernetes/update staging
  docker-compose.yaml
  infra/kubernetes/stg/cluster-role.yaml
  infra/kubernetes/stg/configmap-prometheus.yaml
  infra/kubernetes/stg/daemonset-prometheus.yaml
  infra/kubernetes/stg/ingress.yaml
  infra/kubernetes/stg/namespace.yaml
  infra/kubernetes/stg/secret-firebase.yaml.temp
  infra/kubernetes/stg/secret-gcp.yaml.temp
  infra/kubernetes/stg/secret-grafana.yaml.temp
  infra/kubernetes/stg/service-user-api.yaml
  infra/kubernetes/stg/service.yaml
  infra/prometheus/staging.yaml
Labels: feature, infrastructure

#52 マニフェスト ファイルの整理
  docker-compose.yaml
  infra/docker/monitoring/fluentd/Dockerfile
  infra/docker/monitoring/grafana/Dockerfile
  infra/docker/monitoring/loki/Dockerfile
  infra/docker/monitoring/loki/Dockerfile_development
  infra/docker/monitoring/prometheus/Dockerfile
  infra/docker/monitoring/promtail/Dockerfile
  infra/kubernetes/Makefile
  infra/kubernetes/stg/config/certificate.yaml
  infra/kubernetes/stg/config/cluster-role.yaml
  infra/kubernetes/stg/config/namespace.yaml
  infra/kubernetes/stg/default/deployment-user-api.yaml.temp
  infra/kubernetes/stg/default/ingress.yaml
  infra/kubernetes/stg/default/secret-firebase.yaml.temp
  infra/kubernetes/stg/default/secret-gcp.yaml.temp
  infra/kubernetes/stg/default/service.yaml
  infra/kubernetes/stg/monitoring/configmap-prometheus.yaml
  infra/kubernetes/stg/monitoring/configmap-promtail.yaml
  infra/kubernetes/stg/monitoring/daemonset-prometheus.yaml
  infra/kubernetes/stg/monitoring/daemonset-promtail.yaml
  infra/kubernetes/stg/monitoring/deployment-grafana.yaml
  infra/kubernetes/stg/monitoring/deployment-loki.yaml
  infra/kubernetes/stg/monitoring/deployment-prometheus.yaml
  infra/kubernetes/stg/monitoring/secret-grafana.yaml.temp
  infra/kubernetes/stg/monitoring/service.yaml
  infra/prometheus/development.yaml
  infra/promtail/development.yaml
  infra/promtail/staging.yaml
Labels: feature, infrastructure
