Repository calmato/presto-pay, pull requests merged in 2020-09, with the labels that each got.

#147 feature: 支払い追加お知らせ機能
  api/calc/bin/build-mocks.sh
  api/calc/internal/infrastructure/notification/client.go
  api/calc/internal/infrastructure/service/payment.go
  api/calc/internal/infrastructure/service/payment_test.go
  api/calc/lib/firebase/messaging/client.go
  api/calc/mock/infrastructure/notification/client.go
  api/calc/registry/payment.go
Labels: api: Calc, feature

#159 feat: [WIP] update ui
  native/react/src/components/atoms/TextField/index.tsx
  native/react/src/components/atoms/index.ts
  native/react/src/components/pages/SignIn/index.tsx
  native/react/src/lib/hooks/index.ts
  native/react/src/lib/hooks/use-controlled-component.ts
Labels: WIP, feature, native: android, native: ios

#142 feature: モニタリング用のアプリの設定変更
  infra/kubernetes/stg/monitoring/configmap-grafana.yaml
  infra/kubernetes/stg/monitoring/deployment-grafana.yaml
  infra/kubernetes/stg/monitoring/persistent-volume.yaml
  infra/kubernetes/stg/monitoring/statefulset-loki.yaml
  infra/kubernetes/stg/monitoring/statefulset-prometheus.yaml
Labels: WIP, infrastructure

#157 支払い登録できるようにした
  native/android/app/src/main/java/work/calmato/prestopay/network/ApiData.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/addExpense/AddExpenseFragment.kt
  native/android/app/src/main/res/layout/fragment_add_expense.xml
Labels: feature, native: android

#162 feature: 支払い情報一覧取得APIの実装
  api/calc/config/router.go
  api/calc/internal/application/payment.go
  api/calc/internal/application/response/payment.go
  api/calc/internal/domain/payment/entity.go
  api/calc/internal/domain/payment/repository.go
  api/calc/internal/domain/payment/service.go
  api/calc/internal/infrastructure/repository/payment.go
  api/calc/internal/infrastructure/service/payment.go
  api/calc/internal/infrastructure/service/payment_test.go
  api/calc/internal/interface/handler/v1/payment.go
  api/calc/lib/firebase/firestore/client.go
  api/calc/mock/domain/payment/repository.go
  api/calc/mock/domain/payment/service.go
  api/calc/registry/payment.go
  docs/12_backend/21_swagger/apiv1.yaml
Labels: api: Calc, feature

#161 Feature android network
  native/android/app/src/main/java/work/calmato/prestopay/repository/GroupsRepository.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/addExpense/AddExpenseFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/addFriend/AddFriendFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/createGroup/CreateGroupFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/friendList/FriendListFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupFriend/GroupFriendFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupList/GroupListFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/home/HomeFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/login/LoginFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelFriend.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelFriendGroup.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelGroup.kt
  native/android/app/src/main/res/layout/fragment_friend_list.xml
  native/android/app/src/main/res/layout/fragment_group_friend.xml
  native/android/app/src/main/res/layout/fragment_group_list.xml
  native/android/app/src/main/res/layout/fragment_home.xml
  native/android/app/src/main/res/navigation/navigation.xml
Labels: feature, native: android

#165 支払いゲット、濱田担当のグループ編集に取りかかれる所まで
  native/android/app/src/main/java/work/calmato/prestopay/database/DatabaseFriend.kt
  native/android/app/src/main/java/work/calmato/prestopay/database/Room.kt
  native/android/app/src/main/java/work/calmato/prestopay/network/ApiData.kt
  native/android/app/src/main/java/work/calmato/prestopay/network/ApiService.kt
  native/android/app/src/main/java/work/calmato/prestopay/network/DataTransferObjects.kt
  native/android/app/src/main/java/work/calmato/prestopay/repository/PaymentRepository.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupDetail/GroupDetailFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/home/HomeFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/AdapterPayment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/BindingUtils.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelGroup.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelPayment.kt
  native/android/app/src/main/res/drawable/ic_baseline_settings_24.xml
  native/android/app/src/main/res/layout/fragment_group_detail.xml
  native/android/app/src/main/res/layout/list_item_payment.xml
  native/android/app/src/main/res/navigation/navigation.xml
  native/android/app/src/main/res/values/strings.xml
Labels: feature, native: android

#166 View/user info
  native/react/src/components/molecules/ProfileImage/index.tsx
  native/react/src/components/molecules/ProfileUserName/index.tsx
  native/react/src/components/molecules/index.ts
  native/react/src/components/organisms/Profile/index.tsx
  native/react/src/components/organisms/index.ts
  native/react/src/components/pages/UserInfo/index.tsx
Labels: WIP

#168 feature: グループ編集APIの実装
  api/calc/.golangci.yaml
  api/calc/config/router.go
  api/calc/internal/application/group.go
  api/calc/internal/application/request/group.go
  api/calc/internal/application/response/group.go
  api/calc/internal/application/validation/group.go
  api/calc/internal/domain/group/service.go
  api/calc/internal/infrastructure/service/group.go
  api/calc/internal/interface/handler/v1/group.go
  api/calc/lib/common/remove.go
  api/calc/mock/application/validation/group.go
  api/calc/mock/domain/group/service.go
  docs/12_backend/21_swagger/apiv1.yaml
Labels: api: Calc, feature

#169 fix: グループ編集APIの修正
  api/calc/internal/infrastructure/service/group.go
Labels: api: Calc, bugfix

#170 feature: 支払い情報更新APIの実装
  api/calc/config/router.go
  api/calc/internal/application/payment.go
  api/calc/internal/application/request/payment.go
  api/calc/internal/application/response/group.go
  api/calc/internal/application/response/payment.go
  api/calc/internal/application/validation/payment.go
  api/calc/internal/domain/payment/repository.go
  api/calc/internal/domain/payment/service.go
  api/calc/internal/infrastructure/repository/payment.go
  api/calc/internal/infrastructure/service/payment.go
  api/calc/internal/interface/handler/v1/payment.go
  api/calc/lib/firebase/firestore/client.go
  api/calc/mock/application/validation/payment.go
  api/calc/mock/domain/payment/repository.go
  api/calc/mock/domain/payment/service.go
  api/user/lib/firebase/firestore/client.go
  docs/12_backend/21_swagger/apiv1.yaml
Labels: WIP, api: Calc, feature

#171 feature: 削除関連のAPI実装
  api/calc/config/router.go
  api/calc/internal/application/group.go
  api/calc/internal/application/payment.go
  api/calc/internal/domain/group/repository.go
  api/calc/internal/domain/group/service.go
  api/calc/internal/domain/payment/repository.go
  api/calc/internal/domain/payment/service.go
  api/calc/internal/infrastructure/repository/group.go
  api/calc/internal/infrastructure/repository/payment.go
  api/calc/internal/infrastructure/service/group.go
  api/calc/internal/infrastructure/service/payment.go
  api/calc/internal/interface/handler/v1/group.go
  api/calc/internal/interface/handler/v1/payment.go
  api/calc/mock/domain/group/repository.go
  api/calc/mock/domain/group/service.go
  api/calc/mock/domain/payment/repository.go
  api/calc/mock/domain/payment/service.go
  docs/12_backend/21_swagger/apiv1.yaml
Labels: api: Calc, feature

#172 feature: 支払い情報関連のレスポンスを編集
  api/calc/internal/application/response/payment.go
  api/calc/internal/domain/payment/entity.go
  api/calc/internal/infrastructure/service/payment.go
  api/calc/internal/interface/handler/v1/payment.go
  docs/12_backend/21_swagger/apiv1.yaml
Labels: api: Calc, feature

#174 feature: [WIP] ログイン処理の実装
  native/react/.env.temp
  native/react/babel.config.js
  native/react/package.json
  native/react/src/components/atoms/TextField/index.tsx
  native/react/src/components/pages/SignIn/index.tsx
  native/react/src/lib/firebase/config.ts
  native/react/src/lib/firebase/index.ts
  native/react/src/lib/firebase/sign-in-with-password.ts
  native/react/yarn.lock
Labels: WIP, feature, native: android, native: ios

#178 feature: サインイン画面の実装
  native/react/App.tsx
  native/react/package.json
  native/react/src/components/pages/Initial/index.tsx
  native/react/src/components/pages/Loading/index.tsx
  native/react/src/components/pages/SignIn/index.tsx
  native/react/src/containers/.keep
  native/react/src/containers/Loading.tsx
  native/react/src/containers/SignIn.tsx
  native/react/src/containers/index.ts
  native/react/src/contexts/auth.ts
  native/react/src/contexts/index.ts
  native/react/src/contexts/network.ts
  native/react/src/contexts/ui.ts
  native/react/src/domain/models/.keep
  native/react/src/domain/models/auth.ts
  native/react/src/domain/models/index.ts
  native/react/src/domain/repositories/.keep
  native/react/src/lib/assert.ts
  native/react/src/lib/firebase/authentication.ts
  native/react/src/lib/firebase/index.ts
  native/react/src/lib/firebase/sign-in-with-password.ts
  native/react/src/lib/hooks/index.ts
  native/react/src/lib/hooks/use-networker.ts
  native/react/src/lib/local-storage/auth-information.ts
  native/react/src/lib/local-storage/index.ts
  native/react/src/lib/local-storage/initial-launch.ts
  native/react/src/lib/local-storage/key.ts
  native/react/src/modules/.keep
  native/react/src/modules/auth.ts
  native/react/src/modules/index.ts
  native/react/src/routes/Main/Auth/SignIn.tsx
  native/react/src/store.ts
  native/react/src/usecases/.keep
  native/react/src/usecases/auth.ts
  native/react/yarn.lock
Labels: feature, native: android, native: ios

#177 ヘッダーとタブナビゲーションのUI作成
  native/react/src/constants/theme.ts
  native/react/src/routes/Main/Group/GroupList.tsx
  native/react/src/routes/Main/Home.tsx
  native/react/src/routes/Main/System/UserInfo.tsx
  native/react/src/routes/Main/index.tsx
Labels: feature, native: ios

#180 feature: サインアウト機能の実装
  native/react/src/components/pages/Initial/index.tsx
  native/react/src/components/pages/Loading/index.tsx
  native/react/src/components/pages/UserInfo/index.tsx
  native/react/src/containers/Loading.tsx
  native/react/src/containers/UserInfo.tsx
  native/react/src/containers/index.ts
  native/react/src/lib/firebase/index.ts
  native/react/src/lib/firebase/sign-out.ts
  native/react/src/lib/local-storage/initial-launch.ts
  native/react/src/modules/auth.ts
  native/react/src/routes/Main/Auth/CheckEmail.tsx
  native/react/src/routes/Main/Auth/PasswordReset.tsx
  native/react/src/routes/Main/Auth/SignUp.tsx
  native/react/src/routes/Main/System/UserInfo.tsx
  native/react/src/routes/Main/index.tsx
  native/react/src/usecases/auth.ts
Labels: feature, native: ios

#181 feature: スプラッシュ画面の設定
  native/react/app.json
  native/react/assets/presto-pay.png
Labels: feature, native: ios

#182 Group edit
  native/android/app/src/main/java/work/calmato/prestopay/network/ApiData.kt
  native/android/app/src/main/java/work/calmato/prestopay/network/ApiService.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/friendList/FriendListFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupDetail/GroupDetailFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupEdit/GroupEditFragment.kt
  native/android/app/src/main/res/layout/fragment_group_edit.xml
  native/android/app/src/main/res/navigation/navigation.xml
Labels: WIP, native: android
