Repository calmato/presto-pay, pull requests merged in 2020-12, with the labels that each got.

#265 feature: CloudRunで動かせる用の設定変更
  .env.temp
  README.md
  api/calc/cmd/main.go
  api/calc/config/environment.go
  api/user/cmd/main.go
  api/user/config/environment.go
  docker-compose.api.prod.yaml
  docker-compose.api.stg.yaml
  docker-compose.api.yaml
  docker-compose.yaml
Labels: api: Calc, api: User, feature

#266 feature: CloudRunで動かすためのリファクタ
  api/calc/cmd/main.go
  api/calc/config/environment.go
  api/calc/internal/application/payment.go
  api/calc/internal/infrastructure/api/client.go
  api/calc/internal/infrastructure/service/exchange.go
  api/calc/mock/infrastructure/api/client.go
  api/calc/registry/payment.go
  api/calc/registry/registry.go
  api/user/cmd/main.go
  docker-compose.api.prod.yaml
  docker-compose.api.stg.yaml
  docker-compose.api.yaml
Labels: api: Calc, api: User, feature

#267 feature: NginxのDockerfile作成
  .github/workflows/cd-nginx.yaml
  docker-compose.nginx.yaml
  infra/docker/load-balancer/Dockerfile_development
  infra/docker/load-balancer/Dockerfile_staging
  infra/nginx/stg/default.conf
Labels: feature, infrastructure

#268 feat: リッスンポートの変更
  infra/nginx/stg/default.conf
Labels: feature, infrastructure

#270 fix: Nginxの名前解決周りの修正
  .github/workflows/cd-nginx.yaml
  docker-compose.nginx.yaml
  infra/docker/load-balancer/Dockerfile_development
  infra/docker/reverse-proxy/Dockerfile_development
  infra/docker/reverse-proxy/Dockerfile_staging
  infra/nginx/stg/default.conf
Labels: dependencies, infrastructure

#271 Feature/workflows
  .github/workflows/cd-batch-api-stg.yaml
  .github/workflows/cd-calc-api-prod-on-master.yaml
  .github/workflows/cd-calc-api-stg.yaml
  .github/workflows/cd-nginx-prod.yaml
  .github/workflows/cd-nginx-stg.yaml
  .github/workflows/cd-user-api-prod-on-master.yaml
  .github/workflows/cd-user-api-stg.yaml
  .github/workflows/ci-admin.yaml
  .github/workflows/ci-android-on-master-branch.yaml
  .github/workflows/ci-android.yaml
  .github/workflows/ci-batch-api.yaml
  .github/workflows/ci-calc-api-reviewdog.yaml
  .github/workflows/ci-calc-api.yaml
  .github/workflows/ci-native.yaml
  .github/workflows/ci-terraform-stg.yaml
  .github/workflows/ci-user-api-reviewdog.yaml
  .github/workflows/ci-user-api.yaml
  docker-compose.api.prod.yaml
  docker-compose.api.stg.yaml
  docker-compose.swagger.yaml
  infra/docker/reverse-proxy/Dockerfile
  infra/nginx/prod/default.conf
Labels: feature

#272 feat: GithubActions内で、CloudRunへデプロイする処理を追加
  .github/workflows/cd-calc-api-stg.yaml
  .github/workflows/cd-nginx-stg.yaml
  .github/workflows/cd-user-api-stg.yaml
Labels: feature, infrastructure

#274 Android bugfix layout1.0
  native/android/app/src/main/AndroidManifest.xml
  native/android/app/src/main/java/work/calmato/prestopay/MainActivity.kt
  native/android/app/src/main/java/work/calmato/prestopay/database/Room.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/accountEdit/AccountEditFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/addPayment/AddPaymentFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/addPayment/AddPaymentStep1Fragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupDetail/GroupDetailFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupEdit/GroupEditAddFriendFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupEdit/GroupEditAddUnauthorizedFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupEdit/GroupEditFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupFriend/GroupFriendFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupList/GroupListHiddenFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/home/HomeFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/login/LoginFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/paymentDetail/PaymentDetailFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/settleUp/SettleUpFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/AdapterGroupPlane.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelFriend.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelFriendGroup.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelGroup.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelPayment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelSettleUpGroup.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelUser.kt
  native/android/app/src/main/res/drawable/icon_presto_pay.png
  native/android/app/src/main/res/layout/fragment_add_payment_step1.xml
  native/android/app/src/main/res/layout/fragment_add_payment_step4.xml
  native/android/app/src/main/res/layout/fragment_group_detail.xml
  native/android/app/src/main/res/layout/fragment_login.xml
  native/android/app/src/main/res/layout/fragment_new_account.xml
  native/android/app/src/main/res/layout/list_group_item_plane.xml
Labels: bugfix, native: android

#276 修正箇所#10
  api/calc/internal/application/payment.go
Labels: api: Calc, bugfix

#275 修正箇所#11
  api/calc/internal/application/payment.go
Labels: api: Calc, bugfix

#277 fix: ガード節作ってたけどreturnできてなかったバグの修正
  api/calc/internal/infrastructure/service/payment.go
Labels: api: Calc, bugfix

#279 Bugfix/android/actual machine v1
  native/android/app/src/main/java/work/calmato/prestopay/MainActivity.kt
  native/android/app/src/main/java/work/calmato/prestopay/network/ApiService.kt
  native/android/app/src/main/java/work/calmato/prestopay/repository/PaymentRepository.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/addPayment/AddPaymentStep1Fragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupDetail/GroupDetailFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/login/LoginFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/BindingUtils.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelAddPayment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelFriendGroup.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelPayment.kt
  native/android/app/src/main/res/layout/fragment_add_payment_step4.xml
  native/android/app/src/main/res/layout/fragment_group_detail.xml
Labels: bugfix, native: android

#278 bugfix: edit fragment fix
  native/android/app/src/main/java/work/calmato/prestopay/network/ApiService.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupEdit/GroupEditFragment.kt
  native/android/app/src/main/res/layout/fragment_group_edit.xml
Labels: bugfix

#280 Bugfix/account new
  native/android/app/build.gradle
  native/android/app/src/main/java/work/calmato/prestopay/ui/login/LoginFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/newAccount/NewAccountFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelAddPayment.kt
  native/android/app/src/main/res/layout/fragment_group_detail.xml
  native/android/app/src/main/res/layout/fragment_new_account.xml
Labels: bugfix, native: android

#281 fix: 支払い編集の修正
  native/android/app/src/main/java/work/calmato/prestopay/ui/addPayment/AddPaymentFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/addPayment/AddPaymentStep1Fragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/addPayment/AddPaymentStep2Fragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/addPayment/AddPaymentStep4Fragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupDetail/GroupDetailFragment.kt
  native/android/app/src/main/res/drawable/icon_presto_pay.png
  native/android/app/src/main/res/layout/fragment_group_detail.xml
Labels: bugfix, native: android

#282 fix: 通貨計算がうまくできてなかったところを修正
  api/calc/internal/application/payment.go
Labels: api: Calc, bugfix

#283 Bag fix android environmental variable
  native/android/app/build.gradle
  native/android/app/src/main/AndroidManifest.xml
  native/android/app/src/main/java/work/calmato/prestopay/MainActivity.kt
  native/android/app/src/main/java/work/calmato/prestopay/network/ApiService.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/AdapterGroupPlane.kt
  native/android/app/src/main/res/values/strings.xml
Labels: bugfix, native: android

#284 Feature/air plane mode
  native/android/app/src/main/java/work/calmato/prestopay/ui/accountEdit/AccountEditFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/accountHome/AccountHomeFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupDetail/GroupDetailFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupEdit/GroupEditAddFriendFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupEdit/GroupEditFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupFriend/GroupFriendFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/groupList/GroupListHiddenFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/login/LoginFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/newAccount/NewAccountFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/paymentDetail/PaymentDetailFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/ui/resetPassLogin/UpdatePassLoginFragment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/AdapterPayment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/BindingUtils.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/IsOnline.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelAddPayment.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelFriendGroup.kt
  native/android/app/src/main/java/work/calmato/prestopay/util/ViewModelUser.kt
  native/android/app/src/main/res/values/strings.xml
Labels: bugfix, native: android
